<!-- views/math.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>Math response</title>
    <style>
        span { color: red; }
    </style>
    <script>
        // do whatever
    </script>
</head>

<body>
    Operation: <span><%= theOperation %></span><br>
    Operand 1: <%= theOperand1 %><br>
    Operand 2: <%= theOperand2 %><br>
    Result: <%= theResult %><br>
    Add: <%= theOperand1 + theOperand2 %><br>
    Subtract: <%= theOperand1 - theOperand2 %><br>
    Multiply: <%= theOperand1 * theOperand2 %><br>
    Divide: <%= theOperand1 / theOperand2 %><br>
</body>

</html>
